<div class="center jumbotron">
  <center>
    <div class="alert alert-warning">
      🚧 This app is under development 🚧
    </div>
    <h1>YouTube Recommender</h1>
    <img src="/youtube_recommender.png" width="25%">
    <h2>Creates interesting recommended videos for viewing in Memair</h2>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <h3>View your latest recommendations in <a href="https://memair.com/recommendations">Memair</a></h3>
      <%= link_to "Settings", profile_path, class: "btn btn-lg btn-primary" %>
      <%= button_to "Uninstall", registration_path(current_user), data: { confirm: 'YouTube Recommender will no longer generate recommendations in Memair.', title: 'Are you sure you?' }, method: :delete, class: "btn btn-lg btn-danger" %>
    <% else %>
      <%= button_to "Connect with Memair", user_memair_omniauth_authorize_path, id: "sign_in", class: "btn btn-lg btn-primary" %>
    <% end %>
  </center>
</div>

<script>
  if(window.location.hash == '#install') {
    document.getElementById('sign_in').click()
  }
</script>
