<h1>Video preferences</h1>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h4>Update recommendation frequency for channels</h4>
<i>0 = never, 5 = sometimes, 10 = always</i>

<%= form_for(@user) do |f| %>

  <div class="row">
    <% @preferences.each do |preference| %>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="<%= preference.channel.thumbnail_url %>" alt="<%= preference.channel.title %> thumbnail">
          <div class="card-body">
            <h5 class="card-title"><a href="https://www.youtube.com/channel/<%= preference.channel.yt_id %>" target="_blank"><%= preference.channel.title %></a></h5>
            <p class="card-text"><%= preference.channel.description.truncate(200) %></p>
            <i>
            <% if preference.channel.max_age %>
              Videos <%= preference.channel.max_age %> day or newer will be recommended
            <% else %>
              Videos of any age will be recommended
            <% end%></i><br>
            weight: <%= select_tag("preferences[#{preference.id}]", (options_for_select([*0..10].map { |n| [n.to_s, n] }, preference.frequency))) %>
            <% if @user.admin? %>
              <br><b>channel details</b><br>
              <%= preference.channel.videos.count %> videos<br>
              <% if preference.channel.last_extracted_at %>
                Last extracted <%= distance_of_time_in_words(DateTime.now, preference.channel.last_extracted_at) %> ago
              <% else %>
                Never extracted
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <p><br></p>
    <%= f.submit 'Update', class: "btn btn-primary" %> <%= link_to 'Back', root_path, class: "btn btn-secondary" %>
  </div>
<% end %>
